@font-face {
    font-family: '굵은폰트';
    src: url(../font/NanumSquareB.woff);
    font-weight: 800;
}

@font-face {
    font-family: '얇은폰트';
    src: url(../font/NanumSquareR.woff);
}

body,
html {
    box-sizing: border-box;
    height: 100%;
    font-family: '얇은폰트';
}

.container,
.content {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    border-radius: 7px;
}

.content {
    background-color: white;
    width: 950px;
    height: 170px;
}

.content div {
    margin: 50px;
    font-family: '굵은폰트';
    text-align: center;

}

.content div p:nth-of-type(2){
    font-family: '얇은폰트';
}

@media screen and (max-width:768px){
    .content{
        width: 475px;
        height: 340px;
        display: block;
        text-align: center;
        font-size: 15px;
    }
    .content div{
        display: inline-block;
    }
}

@media screen and (max-width:576px){
    .content {
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        width:280px;
        height:720px;
        font-size: 17px;
    }
    .content div{
        margin:40px;
    }
}