.container{
    width:850px;
    height:230px; 
    margin-left: auto;
    margin-right: auto;
}
.content{
    width:580px;
    height:210px;
    float:left;
    padding: 10px;
}
.header{
    width:580px;
    height:20%;
    display:flex;
    align-items: center;
    gap:6px;   
}
.text{
    width:580px;
    height:80%;
    padding: 1px;
}
.picture{
    width:220px;
    height:200px;
    float: right;
    padding:15px;
}
.sumnail{
    width:220px;
    height:200px;
}
.profile{
    width:32px;
    height:32px;
}
.line{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}
.button{
    margin-left: 550px;
    margin-top: 35px;
}
nav{
    display:flex;
    justify-content: center;
}
.navbar li{
    display: inline-block;
    width:50px;
    text-align: center;
    padding:10px;
    font-weight: 600;
    background-color: #020715;
    border-radius: 10px;
    color:white;
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}
.navbar a{
    display: inline-block;
    font-size:16px;
    text-decoration: none; /* 밑줄없애기 */
    transition: color 0.3s; /* 부드러운 전환 효과 */
}
.navbar a:visited {
    color: inherit; /* 여전히 부모 색상을 상속받도록 설정 */
}
.navbar li:hover{
    color:#020715;
    background-color: white;
}
