/* 첫째글짜만 크게넣고싶다 */
.pseudo::first-letter {
    font-size: 30px;
    color: red;
}
/* 첫째줄만 스타일을 주고싶다 */
.pseudo::first-line{
    font-size: 30px;
    color: red;
}
/* 해당태그 맨뒤에 무엇가를 넣고싶을땐 */
.pseudo::after{
    content:'안녕';
}
/* 해당태그 맨앞에 무엇가를 넣고싶을땐 */
.pseudo::before{
    content: '처음';
}
/* float:left 를 주었다면 맨마지막에 clear:both를 써야하는데 */
/* 이렇게하면 어떨까? */
.pseudo::after{
    content: '';
    display: block;
    clear: both;
    float:none;
}
/* input타입 파일선택버튼 스타일 */
.input-file::file-selector-button{
    background-color: aqua;
    border: none;
}

.input-file::file-selector-button:hover{
    background-color: red;
    border: none;
}